body{
    background: url('/kyung/image/BgImg.png');
    background-size: 1000px 1000px;
}
.score {
    display: flex;
    background-color: #a346f4;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 30px;
    margin-top: 50px;
}
#computerScore {
    margin-right: 10px;
}
#userScore {
    margin-left: 10px;
}
#computerScore {
    display: inline;
}
.area {
    display: flex;
}
.line {
    border-left: thick solid #32a1ce;
    height: 600px;
}
.userBtnOption {
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.winner {
    justify-content: center;
    text-align: center;
    align-items: center;

}
